@using Microsoft.AspNetCore.Http

<script src="~/lib/jquery/dist/jquery.js"></script> @*retirer à la fin du dev*@
<script>
    var dwInfos = {};
    
    $(document).ready(function () {
        $.post(
            "@Url.Action("DocuWareInfos", "Home")",
            {
                docuwareURI: '@Context.Session.GetString("docuwareURI")',
                userLogin: '@Context.Session.GetString("userLogin")',
                userPassword:'@Context.Session.GetString("userPassword")'
            },
            function (data) {
                dwInfos = data;
                $.each(dwInfos, function (org, fcs) {
                    $("<option />")
                        .attr("value", org)
                        .html(org)
                        .appendTo("#organization");
                });

                $("#organization").change(updateFromOrganization).change();
                $("#fileCabinet").change(updateFromFileCabinet);
                $("#dialog").change(updateFromDialog);

                $.post('GetUserExtractions',
                    { userLogin: '@Context.Session.GetString("userLogin")' },
                    function (data) {
                        //$.each($(`#selectExtraction option`), function () {
                        //    if (this.value != "newExtraction") {this.remove()}
                        //})
                        $.each(data, function (key, value) {
                            $("<option />")
                                .attr("value", value)
                                .html(value)
                                .appendTo("#extraction");
                            $("#extraction").change(updateFromExtraction);
                        });
                    }
                );
            }
        );
        $("#nameExtraction").blur(function () {
            pattern = /([a-zA-Z0-9\s_\\.\-\(\):])+/i;
            if (pattern.test($('#nameExtraction').val())) {
                $('#nameFeedBack').hide();
            }
            else {
                $('#nameFeedBack').show();
            }
        });
    });

    function updateFromOrganization() {
        var org = $("#organization").val();
        var lstFileCabinet = $("#fileCabinet");

        lstFileCabinet.empty();
        $.each(dwInfos[org], function (fc, ds) {
            $("<option />")
                .attr("value", fc)
                .html(fc)
                .appendTo(lstFileCabinet);
        });
        updateFromFileCabinet();
    }

    function updateFromFileCabinet() {
        var org = $("#organization").val();
        var fc = $("#fileCabinet").val();
        var lstDialog = $("#dialog");

        lstDialog.empty();
        $.each(dwInfos[org][fc], function (d, fs) {
            $("<option />")
                .attr("value", d)
                .html(d)
                .appendTo(lstDialog);
        });
        updateFromDialog();
    }

    function updateFromDialog() {
        var org = $("#organization").val();
        var fc = $("#fileCabinet").val();
        var dia = $("#dialog").val();
        var fieldTable = $("#fieldTable");
        console.log(dwInfos[org][fc][dia]);
    }

    function updateFromExtraction() {

    }
    
</script>
<div class="mb-3 row">
    <label class="col-md-3 control-label">Extraction :</label>
    <div class="col-md-6">
        <select class="form-control form-select" id="extraction">
            <option value="newExtraction" selected>Nouvelle extraction</option>
        </select>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-md-3 control-label">Nom de l'extraction :</label>
    <div class="col-md-6">
        <input id="nameExtraction" type="text" class="form-control" placeholder="Nom" />
    </div>
    <label class="col-md-3 text-danger" id="nameFeedBack">Veuillez saisir un nom valide pour la nouvelle extraction</label>
</div>
<div class="mb-3 row">
    <label class="col-md-3 control-label">Organisation :</label>
    <div class="col-md-6">
        <select class="form-control form-select" id="organization"></select>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-md-3 control-label">Armoire :</label>
    <div class="col-md-6">
        <select class="form-control form-select" id="fileCabinet"></select>
    </div>
</div>
<div class="mb-3 row">
    <label class="col-md-3 control-label">Boite de recherche :</label>
    <div class="col-md-6">
        <select class="form-control form-select" id="dialog"></select>
    </div>
</div>
<div class="mb-3 row">
    <div class="col-md-10">
        <table class="table table-hover" id="fieldTable">
            <thead>
                <tr> <th scope="col"></th><th scope="col">Arborescence</th> <th scope="col">Champs</th> <th scope="col">Valeurs</th></tr>
            </thead>
            <tbody>
                @*<tr id="1">
                    <td><span class="control-label"><input type="checkbox" class="form-check-input" name="CHAPITRE" checked />   1</span></td>
                    <td class="control-label">Chapitre</td>
                    <td class="">
                        <input type="text" />
                    </td>
                </tr>
                <tr id="2">
                    <td><span class="control-label"><input type="checkbox" class="form-check-input" name="SOUS_CHAPITRE" checked />   2</span></td>
                    <td class="control-label">Sous-Chapitre</td>
                    <td class="">
                        <input type="text" />
                    </td>
                </tr>
                <tr id="3">
                    <td><span class="control-label"><input type="checkbox" class="form-check-input" name="TYPE_DOCUMENT" />   </span></td>
                    <td class="control-label">Type de Document</td>
                    <td class="">
                        <input type="text" />
                    </td>
                </tr>*@
            </tbody>
        </table>
    </div>
</div>
<div class="mb-3 row justify-content-center">
    <input type="button" value="Enregistrer l'extraction" onclick="" class="btn btn-primary col-md-6" />
    <input type="button" value="Télécharger l'archive" onclick="" class="btn btn-primary col-md-6" />
</div>

